.pic{
    height: 520px !important;
   
}
.img-gradient:after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%; 
    height:100%;
    display:inline-block;
    background: linear-gradient(to bottom, rgba(235, 239, 241, 0.61) 0%,rgb(12, 12, 12) 100%);
  }